#promptCard1, #promptCard2, #promptCard3, #promptCard4, #loadingCard, #results, #resultBtns {
    display: none;
}

nav {
    background-color: #501313
}

a {
    text-align: center;
}

#brandLogo {
    color: azure;
    font-family: 'Bebas Neue', cursive;
    font-size: 34px;
}

body {
    background-color: #ADADAD;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 10px;
}

.container {
    text-align: center;
}

#film-icon {
    padding: 0 0 0 20px;
}

h3 {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

h4 {
    margin: 0 0 10px 0;
    font-family: 'Bebas Neue', cursive;
}

h5 {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

#start-card {
    font-size: 16pt;
}

p {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding: 5px 0 5px 0;
}

footer {
    margin-top: 10px;
    width: 100%;
}

.page-footer {
    background-color: #501313;
    padding: 0;
}

#tmdb-icon {
    height: 30px;
    float: right;
}

.btn {
    margin: 5px 5px 5px 5px;

}

img {
    width: auto;
}

#jpg-export{
  width: 100%;
}

.plotly {
    display: none;
}

.responsive {
    width: 30%;
    height: auto;
  }

  /* .desktopLinks:hover {
    background-color: gray;
  } */
